/*OBJECT-ORIENTED CSS*/
        .oocss{
            margin-top: 20px;
            font-size: 30px;
            margin-left: 105px;
        }
        .button{
            width: 100px;
            height: 50px;
            border-radius: 20px;
        }
        .red-btn{
            background-color: red;
        }
        .blue-btn{
            background-color: blue;
        }
        .green-btn{
            background-color: green;
        }
